.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
  font-family: 'Arial', sans-serif;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.card-header {
  margin-bottom: 15px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.designation {
  font-size: 16px;
  color: #888;
  margin-top: 5px;
}

.employee-id {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.employee-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-body p {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}

strong {
  color: #333;
}

